.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 10px;
    background: #2e2e38;
    color: white;
    max-height: 40px;
}

.navbar-button{
    border: 1px solid #bdbdbd75;
    width: 128px;
    background: #2e2e38;
    padding: 3px;
    color: white;
    z-index: 20;
    transition: all 0.35s cubic-bezier(1.000, 0.000, 0.000, 1.000);  
    cursor: pointer;
}

.navbar-button:hover{
    color:#2e2e38;
    background-color: #E5E5E5;
    transition: 0.7s;
}

.navbar-icon{
    color: white;
    width: 50px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    background-image: url("../../../../public/Assets/Img/Prototyp.png");
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-menu{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 250px;
    max-height: 100px;
    background-color: white;
    outline: 1px;
    outline-color: gray;
    font-size: 21px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.navbar-hamburger:hover{
    background-color: #434350;
    border-radius: 3px;
    transition: 0.5s;
}


.navbar-menu:first-child(a){
    border-bottom: 0.5px solid gray;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    position: relative;
}

.navbar-hamburger{
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
}

.navbar-menu button{
    border: none;
    background-color: white;
    color: #3F3FE4;
    font-family: 'Inter-variable';
    cursor: pointer;
    text-align: left;
    font-size: medium;
}

.navbar-menu button:first-child{
    border-bottom: solid 0.3px rgba(0, 0, 255, 0.384);
   padding-bottom: 5px;
}
