.configurator_navbar{
    background-color: rgba(255, 255, 255, 0.644);
    max-height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 0.3px rgba(128, 128, 128, 0.274);
}

.navbar_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -20%;
}

.button_menu{
    padding: 5px;
    margin-left: 5px;
    margin-right: 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.589);
    font-family: 'Inter-variable';
    font-size: small;
    border: none;
    background-color:rgba(212, 212, 212, 0.041);
    cursor: pointer;
}

.navbar_menu span{
    color: rgba(0, 0, 0, 0.247);
    font-family: 'Inter-variable';
    margin-right: 3px;
}

.navbar_back_button{
    background-color: rgba(212, 212, 212, 0.041);
    border: none;
    margin-left: -20%;
    text-transform: uppercase;
    font-family: 'Inter-variable';
    font-weight: 750;
    font-size: medium;
    cursor: pointer;
}

.navbar_back_button span{
    color: rgba(153, 153, 153, 0.562);
}

.abc{
    font-weight: 500;
    color: red;
}

.config_view{
    animation: fadeInFromNone 0.7s ease-out;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}